*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: yellowgreen;
    overflow: hidden;
}

h1{
    text-align: center;
    margin-top: 15px;
    color: orangered;
    letter-spacing: 8px;
}

h1 span{
    font-size: 14px;
    color: white;
}


#container{
    height: 400px;
    width: 60vw;
    border: 10px dashed dodgerblue;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(233, 233, 5, 0.877);
}

#container h2{
    text-align: center;
    font-size: 1.4rem;
    color: white;
    margin-top: 5px;
    letter-spacing: 5px;
}


.screen{
    width :100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    margin-top: 5%;
    
}

.screen label{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.555);


}

.screen input{
    font-size: 1rem;
    letter-spacing: 2px;
    height: 2rem;
    width: 11rem;
}

.screen input:focus{
    outline: none;
}
button.play{
    height: 2.5rem;
    width: 10rem;
    background-color: red;
    font-size: 1.2rem;
    color: white;
    /* margin: auto; */
    cursor: pointer;
    /* display: block; */

}

div.howtoplay{
    position: absolute;
    height: 60%;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#back{
    font-size: 2rem;
    color: black;
    margin: 20px;
    /* margin-top: 100px; */
    cursor:pointer;
}

div.howtoplay p{
    margin: 50px;
    margin-top: 10px;
    color: white;
    letter-spacing: 1px;
}
button#done, button#reset, button#play_again{
    width: 2.5rem;
    width : 10rem;
    color :white;
    background-color: red;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 10px;
}

.score{
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.turns{
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 2px;
}






@media screen and (max-height: 590px ){
    
    h1 span{
        display: none;
    }

   
}

@media screen and (max-width: 600px){
    html{
        font-size: 14px;
    }

    #container{
        width: 70vw;
        height: 300px;
    }

}
@media screen and (max-width: 374px){
    html{
        font-size: 11px;
    }
    h1{
        font-size: 1.5rem;
        letter-spacing: 4px;
    }

    #container h2{
        font-size: 1;
        letter-spacing: 3px;
    }

    #container{
        width: 80vw;
    }
}

@media screen and (max-width: 240px) {
    html{
        font-size: 8px;
    }

    #container{
        width: 90vw;
    }
    
}

@media screen and (max-width: 700px){
    div.howtoplay{
        width : 100%;
    }

    div.howtoplay p{
        margin-left: 20px;
        margin-right: 20px;
    }


}